In [2]:
import pandas as pd
import numpy as np
import sqlite3

import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.collections import LineCollection
import matplotlib.dates as mdates
from matplotlib.lines import Line2D
from matplotlib.patches import Patch

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.model_selection import train_test_split, RandomizedSearchCV
from skopt import BayesSearchCV

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

from skopt.space import Real, Integer
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import warnings
warnings.filterwarnings("ignore")

In [3]:
# Connect to the database
conn = sqlite3.connect('data/EPL_database.db')

# Example: list all tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

                                                 name
0    Raw_LongTermForm_Season2023_2024_Season2023_2024
1   Raw_ShortTermForm_Season2023_2024_Season2023_2024
2                    Raw_LongTermForm_Season2017_2018
3                    Raw_LongTermForm_Season2018_2019
4                    Raw_LongTermForm_Season2019_2020
5                    Raw_LongTermForm_Season2020_2021
6                    Raw_LongTermForm_Season2021_2022
7                    Raw_LongTermForm_Season2022_2023
8                    Raw_LongTermForm_Season2023_2024
9                            DataCoUk_Season2017_2018
10                  Raw_ShortTermForm_Season2017_2018
11                           DataCoUk_Season2018_2019
12                  Raw_ShortTermForm_Season2018_2019
13                           DataCoUk_Season2019_2020
14                  Raw_ShortTermForm_Season2019_2020
15                           DataCoUk_Season2020_2021
16                  Raw_ShortTermForm_Season2020_2021
17                           DataCoUk_Season2021_2022
18                  Raw_ShortTermForm_Season2021_2022
19                           DataCoUk_Season2022_2023
20                  Raw_ShortTermForm_Season2022_2023
21                           DataCoUk_Season2023_2024
22                  Raw_ShortTermForm_Season2023_2024
23                               Raw_UpcomingLongTerm
24                              Raw_UpcomingShortTerm
25                      Preprocessed_UpcomingLongTerm
26                     Preprocessed_UpcomingShortTerm
27                   Raw_LongTermForm_Season2024_2025
28                  Raw_ShortTermForm_Season2024_2025
29                          Preprocessed_LongTermForm
30                         Preprocessed_ShortTermForm
31                           DataCoUk_Season2024_2025
32                                     SeasonFixtures
33                                   UpcomingFixtures

In [4]:
# List of Databases we are going to use, which are all the matches between season 2017-18 to 2024-25
season_tables = [
    'DataCoUk_Season2017_2018',
    'DataCoUk_Season2018_2019',
    'DataCoUk_Season2019_2020',
    'DataCoUk_Season2020_2021',
    'DataCoUk_Season2021_2022',
    'DataCoUk_Season2022_2023',
    'DataCoUk_Season2023_2024',
    'DataCoUk_Season2024_2025'
]

# Merge all into a single DataFrame
db = pd.concat(
    [pd.read_sql_query(f"SELECT * FROM {table}", conn) for table in season_tables],
    ignore_index=True
)

# Optional: preview the result
db.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/08/2017,Brighton,Manchester City,0,2,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/08/2017,Chelsea,Burnley,2,3,A,0,3,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,12/08/2017,Everton,Stoke,1,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Columns: 153 entries, Div to BFECAHA
dtypes: float64(129), int64(16), object(8)
memory usage: 3.1+ MB

In [10]:
len(db)

2690